{% load i18n staticfiles %}
            
            		<li class="groupedListSubItem first" id="ma{{match.id}}" onclick="return location.href = '{% url 'tippspiel_match_detail' match.id %}'">  
            			<div class="sportItemContainer">  
            				<div class="sport-title "> 
            					<div class="sportTextHolder">  
            						<div class="timeKickOff">{{match.date|date:'H:i'}}</div> 
            						<div class="eventPlusDesc"> 
            							<h1>{{ match.team_home.name }} - {{ match.team_visitor.name }}</h1> 
            							<p class="event-desc event-desc-no-padding">{{ match.league.country }} - {{ match.league.league_name }}</p> 
            						</div>  
            					</div> 
            				</div> 
            					<ul class="oddsholder "> 
            					{% for bid in match.getMainBets %}  
            						<li class="oddHolder outcome-1 "> 
            							<a href="{% url 'tippspiel_bet_form' bid.id %}" id="bet{{bid.id}}">
            								<span class="oddpos">{{bid.bet_choice}}</span>
            								<span class="oddnum">{{bid.score}}</span>
            								<span class="oddlock"></span>
            							</a> 
            						</li>  
            					{% endfor %}
            					</ul>  
            				</div>  
            			</li>
             								