{% load i18n staticfiles %}

<li class="listHolderTitled liveMatches expandableList" id="VU111882264">
  <div class="sportItemContainer">  
  	<div class="ico-holder addMyLive off"></div> 
  		<div class="sport-title "> 
  			<div>   
  				<span class="score">{{ match.score_home }} : {{ match.score_visitor }}</span>   
  				<span class="ico-holder scoreTime">
  					<span>{{match.minutes}}'</span>
  				</span>   
  				<span class="eventStatusScore">- {{match.times}}-й тайм</span>   
  			</div> 
  			<div class="sportTextHolder">  
  				<div> 
  					<h1>{{ match.team_home.name }} - {{ match.team_visitor.name }} </h1> 
  					<p class="event-desc">{{ match.team_home.country }} - {{ match.league.league_name }}</p> 
  				</div>
  			</div> 
  		</div> 
  		<div class="ico-holder removeMyLive off"></div> 
  	</div>  
  <hr>
 </li>

