{% load i18n staticfiles %}

<li class="listHolderTitled liveMatches expandableList" id="VU111882264">
  <div class="sportItemContainer">  
  	<div class="ico-holder addMyLive off"></div> 
  		<div class="sport-title "> 
  			<div>   
  				<span class="score">{{ match.score_home }} : {{ match.score_visitor }}</span>   
  				<span class="ico-holder scoreTime">
  					<span>59'</span>
  				</span>   
  				<span class="eventStatusScore">- 2-й тайм</span>   
  			</div> 
  			<div class="sportTextHolder">  
  				<div> 
  					<h1>{{ match.team_home.name }} - {{ match.team_visitor.name }} </h1> 
  					<p class="event-desc">{{ match.team_home.country }} - {{ match.league.league_name }}</p> 
  				</div>
  			</div> 
  		</div> 
  		<ul class="oddsholder ">
            					{% for bid in match.getMainBets %}  
            						<li class="oddHolder outcome-1 "> 
            							<a href="#" id="{{bid.id}}">
            								<span class="oddpos">1</span>
            								<span class="oddnum">{{bid.score}}</span>
            								<span class="oddlock"></span>
            							</a> 
            						</li>  
            					{% endfor %}  		   
  		</ul>  
  		<div class="ico-holder removeMyLive off"></div> 
  	</div>  
  <hr>
 </li>

