{% load i18n staticfiles %}

<li class="groupedListSubItem first" id="VU111882264">
  <div class="sportItemContainer">  
  	<div class="ico-holder addMyLive off"></div> 
  		<div class="sport-title "> 
  			<div>   
  				<span class="score">{{ match.score_home }} : {{ match.score_visitor }}</span>   
  				<span class="ico-holder scoreTime">
  					<span>59'</span>
  				</span>   
  				<span class="eventStatusScore">- 2-й тайм</span>   
  			</div> 
  			<div class="sportTextHolder">  
  				<div> 
  					<h1>{{ match.team_home.name }} - {{ match.team_visitor.name }} </h1> 
  					<p class="event-desc">{{ match.team_home.country }} - {{ match.league.league_name }}</p> 
  				</div>
  			</div> 
  		</div> 
  		<ul class="oddsholder ">   
  			<li class="oddHolder outcome-1 betUp"> 
  				<a href="#" id="VU111882264_339877535_1">
  					<span class="oddpos">1</span>
  					<span class="oddnum">6.50</span>
  					<span class="oddlock"></span></a>
  			</li>  
  			<li class="oddHolder outcome-x betDown"> 
  				<a href="#" id="VU111882264_339877535_x">
  					<span class="oddpos">x</span>
  					<span class="oddnum">1.90</span>
  					<span class="oddlock"></span>
  				</a> 
  			</li>  
  			<li class="oddHolder outcome-2 betUp"> 
  				<a href="#" id="VU111882264_339877535_2">
  					<span class="oddpos">2</span>
  					<span class="oddnum">2.40</span>
  					<span class="oddlock"></span>
  				</a> 
  			</li>
  		</ul>  
  		<div class="ico-holder removeMyLive off"></div> 
  	</div>  
  <hr>
 </li>

