{% load i18n staticfiles %}
            
            		<li class="groupedListSubItem first" id="PI228515994">  
            			<div class="sportItemContainer">  
            				<div class="sport-title "> 
            					<div>     </div> 
            					<div class="sportTextHolder">  
            						<div class="timeKickOff">{{match.date|date:'H:i'}}</div> 
            						<div class="eventPlusDesc"> 
            							<h1>{{ match.team_home.name }} - {{ match.team_visitor.name }}</h1> 
            							<p class="event-desc event-desc-no-padding">{{ match.league.country }} - {{ match.league.league_name }}</p> 
            						</div>  
            					</div> 
            				</div> 
            					<ul class="oddsholder ">   
            						<li class="oddHolder outcome-1 "> 
            							<a href="#" id="PI228515994_48351">
            								<span class="oddpos">1</span>
            								<span class="oddnum">1.65</span>
            								<span class="oddlock"></span>
            							</a> 
            						</li>  
            						<li class="oddHolder outcome-x "> 
            							<a href="#" id="PI228515994_58805">
            								<span class="oddpos">x</span>
            								<span class="oddnum">3.51</span>
            								<span class="oddlock"></span>
            							</a> 
            						</li>  
            						<li class="oddHolder outcome-2 "> 
            							<a href="#" id="PI228515994_44508">
            								<span class="oddpos">2</span>
            								<span class="oddnum">5.56</span>
            								<span class="oddlock"></span>
            							</a> 
            						</li>    
            					</ul>  
            				</div>  
            				<hr><hr>
            			</li>
             								