{% load i18n staticfiles activepage %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>tippspiel</title>

    <!-- Meta -->
    <meta charset="utf-8" />

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="{% static "css/formatted-sb9.css" %}">

    <!-- HTML5 shim -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Script -->
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0-alpha.1/jquery.mobile-1.2.0-alpha.1.min.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />
</head>
<body class="wide" data-view="preMatchEvents" data-node="preMatchEvents" cz-shortcut-listen="true">
<div class="menu menu-left menu-vertical tabs-icons" data-slider="true" data-level="1" data-menu-id="__root__" style="opacity: 1;">
	<div class="menu-inner position-fixed"> 
		<div class="tabs-nav"> 
			<a href="#" class="tabs-nav__itm tabs-nav__itm--prev is-inactive"></a> 
			<a href="#" class="tabs-nav__itm tabs-nav__itm--next is-inactive"></a> 
		</div> 
		<div class="tab-list tab-list-current" data-count="2">
			<ul>  
				<li data-id="bets" class="tab item-bets active"> 
					<div class="tab-inner"> 
						<span class="ico-holder"></span> 
						<div class="text">Ставки</div> 
					</div> 
				</li>  
				<li data-id="search" class="tab item-search"> 
					<div class="tab-inner"> 
						<span class="ico-holder"></span> 
							<div class="text">Поиск</div> 
					</div> 
				</li> 
			</ul>  
		</div> 
	</div>
</div>

<!--  Header of site -->
<div id="header">
<div class="header-inner position-fixed">  
	<a href="#" id="btn-back" class="ico-holder backButton" style="visibility: hidden; position: absolute;"></a>  
	<a href="#" id="btn-menu" class="ico-holder btn-menu" open="false" style="visibility: visible;">  
		<span class="unreads-count" id="unreadsCount" style="display:none;">1</span>  
	</a> 
	<a id="btn-login" class="btn-login">  
		<span id="loginHeader" style="display: inline-block;">Вход</span> 
		<span class="ico-holder ico-login " style="display: inline-block;"></span> 
		<span id="balanceHeader" style="display: none;"></span>  
		<span class="ico-holder ico-profile" style="display: none;"></span> 
	</a>  
	<a id="btn-registration" class="ico-holder" style="display: block;"> Регистрация </a>  
	<a id="btn-deposit" class="ico-holder" style="display: none;">
		<div class="text-holder">Пополнить счёт</div>  
	</a>  
	<a id="logoMain" class="logoMainLeonRu">Main Logo</a>  
</div>
</div>

<!-- Content block -->
    <div id="wrapper">
    	<!-- Linls Live/Top/All -->
		<div class="menu menu-top menu-horizontal" data-slider="true" data-level="2" data-menu-id="bets" style="opacity: 1;">
			<div class="menu-inner position-fixed"> 
				<div class="tabs-nav"> 
					<a href="#" class="tabs-nav__itm tabs-nav__itm--prev is-inactive"></a> 
					<a href="#" class="tabs-nav__itm tabs-nav__itm--next is-inactive"></a> 
				</div> 
				<div class="tab-list tab-list-current" data-count="3">  
					<ul>  
						<li data-id="liveEvents" class="tab item-liveEvents"> 
							<div class="tab-inner"> 
								<span class="ico-holder"></span> 
								<div class="text">Live</div> 
							</div> 
						</li>  
						<li data-id="preMatchEvents" class="tab item-preMatchEvents active"> 
							<div class="tab-inner"> 
								<span class="ico-holder"></span> 
								<div class="text">Топ матчи</div> 
							</div> 
						</li>  
						<li data-id="sports" class="tab item-sports"> 
							<div class="tab-inner"> 
								<span class="ico-holder"></span> 
								<div class="text">Спорт</div> 
							</div> 
						</li>  
					</ul>  
				</div> 
			</div>
		</div>
        {% block body %}{% endblock %}

    </div>

</body>
</html>