{% extends "base.html" %}
{% block body %}

<div id="wrapper">
   <div class="downtime-alert" id="downtimeAlert" style="display: none;"></div>
   <div class="menu menu-top menu-horizontal" data-slider="true" data-level="2" data-menu-id="profile" style="opacity: 1;">
      <div class="menu-inner position-fixed tab-list-current">
         <div class="tab-list tab-list-current" data-count="3">
            <ul>
               <li data-id="profileGeneral" class="tab item-profileGeneral" onclick="return location.href = '{% url 'profile' %}'">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Профайл</div>
                  </div>
               </li>
               <li data-id="history" class="tab item-history active">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">История</div>
                  </div>
               </li>
               <li data-id="profileSettings" class="tab item-profileSettings" onclick="return location.href = '{% url 'settings' %}'">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Настройки</div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="menu menu-top menu-horizontal" data-level="3" data-sticky="false" data-menu-id="history" style="opacity: 1;">
      <div class="menu-inner position-fixed tab-list-current">
         <div class="tabs-nav"> <a href="#" class="tabs-nav__itm tabs-nav__itm--prev is-inactive"></a> <a href="#" class="tabs-nav__itm tabs-nav__itm--next is-inactive"></a> </div>
         <div class="tab-list tab-list-current" data-count="4">
            <ul>
               <li data-id="profileHistoryAll" class="tab item-profileHistoryAll active">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Все</div>
                  </div>
               </li>
               <li data-id="profileHistoryBets" class="tab item-profileHistoryBets">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Ставки</div>
                  </div>
               </li>
               <li data-id="paymentsHistory" class="tab item-paymentsHistory">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Депозиты</div>
                  </div>
               </li>
               <li data-id="withdrawalHistory" class="tab item-withdrawalHistory">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Выплаты</div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="banner" style="display: none;"></div>
   <div id="content-wrap">
      <div class="campaign campaign--tablet" data-loc="top">
         <div></div>
      </div>
      <div class="slider"></div>
      <div id="content">
         <div class="view visible" id="betsHistoryView">
            <ul id="BetHistoryList" class="profileBetList list">
               <li class="history24">
                  <a id="374519991009238">
                     <div class="historyDetails">
                        <div class="historyBetDetails">
                           <div class="out"><span>-10.00&nbsp;RUB</span><span class="creditdesc">Со счета</span></div>
                           <div class="non"><span>В игре</span><span class="creditdesc">На счет</span></div>
                        </div>
                        <div class="listLeftHolder non">
                           <div class="time">  <span class="ico-holder"></span><span>20 Март 17:39</span>  </div>
                           <div class="betTitle">Гранада - Нумансия</div>
                           <div class="paymentId"></div>
                           <div class="betType">1X2</div>
                           <div class="betChoice">X <span>@</span> 2.90</div>
                        </div>
                     </div>
                     <span class="chevron"></span>
                  </a>
                  <hr>
               </li>
               <li class="history24">
                  <a id="378206501750020">
                     <div class="historyDetails">
                        <div class="historyBetDetails">
                           <div class="out"><span>-10.00&nbsp;RUB</span><span class="creditdesc">Со счета</span></div>
                           <div class="non"><span>В игре</span><span class="creditdesc">На счет</span></div>
                        </div>
                        <div class="listLeftHolder non">
                           <div class="time">  <span class="ico-holder"></span><span>20 Март 17:37</span>  </div>
                           <div class="betTitle">Ванкувер Уайткепс - Los Angeles Galaxy</div>
                           <div class="paymentId"></div>
                           <div class="betType">1X2</div>
                           <div class="betChoice">1 <span>@</span> 1.66</div>
                        </div>
                     </div>
                     <span class="chevron"></span>
                  </a>
                  <hr>
               </li>
               <li class="history24">
                  <a id="377237196164817">
                     <div class="historyDetails">
                        <div class="historyBetDetails">
                           <div class="out"><span>-10.00&nbsp;RUB</span><span class="creditdesc">Со счета</span></div>
                           <div class="non"><span>0.00</span><span class="creditdesc">На счет</span></div>
                        </div>
                        <div class="listLeftHolder non">
                           <div class="time">  <span class="ico-holder"></span><span>16 Март 15:11</span>  </div>
                           <div class="betTitle">Шепши - FC Voluntari</div>
                           <div class="paymentId"></div>
                           <div class="betType">1X2</div>
                           <div class="betChoice">2 <span>@</span> 3.32</div>
                        </div>
                     </div>
                     <span class="chevron"></span>
                  </a>
                  <hr>
               </li>
               <li class="history24">
                  <a id="376108618545198">
                     <div class="historyDetails">
                        <div class="historyBetDetails">
                           <div class="out"><span>-10.00&nbsp;RUB</span><span class="creditdesc">Со счета</span></div>
                           <div class="in"><span>+8.90&nbsp;RUB</span><span class="creditdesc">Продан</span></div>
                        </div>
                        <div class="listLeftHolder in">
                           <div class="time">  <span class="ico-holder"></span><span>15 Март 17:46</span>  </div>
                           <div class="betTitle">Мазеруэлл - Селтик</div>
                           <div class="paymentId"></div>
                           <div class="betType">1X2</div>
                           <div class="betChoice">2 <span>@</span> 0.89</div>
                        </div>
                     </div>
                     <span class="chevron"></span>
                  </a>
                  <hr>
               </li>
               <li class="history24">
                  <a id="375591494230356">
                     <div class="historyDetails">
                        <div class="historyBetDetails">
                           <div class="out"><span>-10.00&nbsp;RUB</span><span class="creditdesc">Со счета</span></div>
                           <div class="in"><span>+11.60&nbsp;RUB</span><span class="creditdesc">На счет</span></div>
                        </div>
                        <div class="listLeftHolder in">
                           <div class="time">  <span class="ico-holder"></span><span>14 Март 17:57</span>  </div>
                           <div class="betTitle">Бешикташ - Бавария</div>
                           <div class="paymentId"></div>
                           <div class="betType">1X2</div>
                           <div class="betChoice">X2 <span>@</span> 1.16</div>
                        </div>
                     </div>
                     <span class="chevron"></span>
                  </a>
                  <hr>
               </li>
               <li class="history24">
                  <a id="377302409345229">
                     <div class="historyDetails">
                        <div class="historyBetDetails">
                           <div class="out"><span>-10.00&nbsp;RUB</span><span class="creditdesc">Со счета</span></div>
                           <div class="in"><span>+10.20&nbsp;RUB</span><span class="creditdesc">На счет</span></div>
                        </div>
                        <div class="listLeftHolder in">
                           <div class="time">  <span class="ico-holder"></span><span>14 Март 17:54</span>  </div>
                           <div class="betTitle">TJ Iskra Borcice - МСК Жилина</div>
                           <div class="paymentId"></div>
                           <div class="betType">1X2</div>
                           <div class="betChoice">2 <span>@</span> 1.02</div>
                        </div>
                     </div>
                     <span class="chevron"></span>
                  </a>
                  <hr>
               </li>
               <li class="history24">
                  <a id="377240035176179">
                     <div class="historyDetails">
                        <div class="historyBetDetails">
                           <div class="out"><span>-10.00&nbsp;RUB</span><span class="creditdesc">Со счета</span></div>
                           <div class="in"><span>+12.20&nbsp;RUB</span><span class="creditdesc">На счет</span></div>
                        </div>
                        <div class="listLeftHolder in">
                           <div class="time">  <span class="ico-holder"></span><span>13 Март 14:10</span>  </div>
                           <div class="betTitle">Рома - Шахтер</div>
                           <div class="paymentId"></div>
                           <div class="betType">Тотал</div>
                           <div class="betChoice">Меньше (4.5) <span>@</span> 1.22</div>
                        </div>
                     </div>
                     <span class="chevron"></span>
                  </a>
                  <hr>
               </li>
               <li class="history24">
                  <a id="374349551472581">
                     <div class="historyDetails">
                        <div class="historyBetDetails">
                           <div class="out"><span>-10.00&nbsp;RUB</span><span class="creditdesc">Со счета</span></div>
                           <div class="non"><span>0.00</span><span class="creditdesc">На счет</span></div>
                        </div>
                        <div class="listLeftHolder non">
                           <div class="time">  <span class="ico-holder"></span><span>13 Март 13:47</span>  </div>
                           <div class="betTitle">Ман Юнайтед - Севилья</div>
                           <div class="paymentId"></div>
                           <div class="betType">1X2</div>
                           <div class="betChoice">1X <span>@</span> 1.16</div>
                        </div>
                     </div>
                     <span class="chevron"></span>
                  </a>
                  <hr>
               </li>
               <li class="history20">
                  <a id="">
                     <div class="historyDetails">
                        <div class="historyBetDetails">
                           <div><span class="credit non in income">+100.00&nbsp;RUB</span><span class="creditdesc">На счет</span></div>
                        </div>
                        <div class="listLeftHolder in">
                           <div class="time">  <span class="ico-holder"></span><span>13 Март 13:39</span>  </div>
                           <div class="betTitle">Зачисление&nbsp;-&nbsp;<span class="status">Обработан</span></div>
                           <div class="paymentId">ID:157149371</div>
                           <div class="betType"></div>
                           <div class="betChoice"></div>
                        </div>
                     </div>
                     <span class="chevron"></span>
                  </a>
                  <hr>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>

{% endblock %}