{% extends "base.html" %}
{% block body %}

<div id="wrapper">
   <div class="downtime-alert" id="downtimeAlert" style="display: none;"></div>
   <div class="menu menu-top menu-horizontal" data-slider="true" data-level="2" data-menu-id="profile" style="opacity: 1;">
      <div class="menu-inner position-fixed tab-list-current">
         <div class="tab-list tab-list-current" data-count="3">
            <ul>
               <li data-id="profileGeneral" class="tab item-profileGeneral" onclick="return location.href = '{% url 'profile' %}'">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Профайл</div>
                  </div>
               </li>
               <li data-id="history" class="tab item-history active">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">История</div>
                  </div>
               </li>
               <li data-id="profileSettings" class="tab item-profileSettings" onclick="return location.href = '{% url 'settings' %}'">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Настройки</div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="menu menu-top menu-horizontal" data-level="3" data-sticky="false" data-menu-id="history" style="opacity: 1;">
      <div class="menu-inner position-fixed tab-list-current">
         <div class="tabs-nav"> <a href="#" class="tabs-nav__itm tabs-nav__itm--prev is-inactive"></a> <a href="#" class="tabs-nav__itm tabs-nav__itm--next is-inactive"></a> </div>
         <div class="tab-list tab-list-current" data-count="4">
            <ul>
               <li data-id="profileHistoryAll" class="tab item-profileHistoryAll active">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Все</div>
                  </div>
               </li>
               <li data-id="profileHistoryBets" class="tab item-profileHistoryBets">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Ставки</div>
                  </div>
               </li>
               <li data-id="paymentsHistory" class="tab item-paymentsHistory">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Депозиты</div>
                  </div>
               </li>
               <li data-id="withdrawalHistory" class="tab item-withdrawalHistory">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Выплаты</div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="banner" style="display: none;"></div>
   <div id="content-wrap">
      <div class="campaign campaign--tablet" data-loc="top">
         <div></div>
      </div>
      <div class="slider"></div>
      <div id="content">
         <div class="view visible" id="betsHistoryView">
         {% for tipp in tipps %}
            <ul id="BetHistoryList" class="profileBetList list">
               <li class="history24">
                  <a id="374519991009238">
                     <div class="historyDetails">
                        <div class="historyBetDetails">
                           <div class="out"><span>{{tipp.amount}}&nbsp;BTC</span><span class="creditdesc">Со счета</span></div>
                           {% if tipp.state == 'Sold' or tipp.state == 'Win' %}
                           <div class="in">                           
                           {% else %} 
                           <div class="non">
                           {% endif %}
                           		<span>{{ tipp.toAccount }}</span><span class="creditdesc">На счет</span>
                           </div>
                        </div>
                       {% if tipp.state == 'Sell' or tipp.state == 'Win' %}
                        <div class="listLeftHolder in">
                       {% else %} 
                        <div class="listLeftHolder non">
                       {% endif %}
                           <div class="time">  <span class="ico-holder"></span><span>{{tipp.date|date:'d M o H:i'}}</span>  </div>
                           <div class="betTitle">{{tipp.match.team_home.name}} - {{tipp.match.team_visitor.name}}</div>
                           <div class="paymentId"></div>
                           <div class="betType">{{tipp.bet.bet_group.bet_name}}</div>
                           <div class="betChoice">{{tipp.bet.bet_choice}} <span>@</span> {{tipp.bet_score}}</div>
                        </div>
                     </div>
                     <span class="chevron"></span>
                  </a>
                  <hr>
               </li>
              {% endfor %}
               <!-- li class="history20">
                  <a id="">
                     <div class="historyDetails">
                        <div class="historyBetDetails">
                           <div><span class="credit non in income">+100.00&nbsp;RUB</span><span class="creditdesc">На счет</span></div>
                        </div>
                        <div class="listLeftHolder in">
                           <div class="time">  <span class="ico-holder"></span><span>13 Март 13:39</span>  </div>
                           <div class="betTitle">Зачисление&nbsp;-&nbsp;<span class="status">Обработан</span></div>
                           <div class="paymentId">ID:157149371</div>
                           <div class="betType"></div>
                           <div class="betChoice"></div>
                        </div>
                     </div>
                     <span class="chevron"></span>
                  </a>
                  <hr>
               </li-->
            </ul>
         </div>
      </div>
   </div>
</div>

{% endblock %}