{% extends "base.html" %}
{% load i18n dicthelpers %}
{% block body %}

    <div id="wrapper">
    	<!-- Linls Live/Top/All -->
		<div class="menu menu-top menu-horizontal" data-slider="true" data-level="2" data-menu-id="bets" style="opacity: 1;">
			<div class="menu-inner position-fixed"> 
				<div class="tab-list tab-list-current" data-count="2">  
					<ul>  
						<li data-id="preMatchEvents" class="tab item-preMatchEvents active"> 
							<div class="tab-inner"> 
								<span class="ico-holder"></span> 
								<div class="text">Топ матчи</div> 
							</div> 
						</li>  
						<li data-id="sports" class="tab item-sports is-inactive"> 
						<a href="/matches" class="tabs-nav__itm tabs-nav__itm--next active">
							<div class="tab-inner"> 
								<span class="ico-holder"></span> 
								<div class="text">Лиги</div> 
							</div>
						</a> 
						</li>  
					</ul>  
				</div> 
			</div>
		</div>

<div class="view visible" id="sportsLeaguesEventsView">
<ul id="Z_7" class="listHolderTitled liveMatches expandableList list">
        {% for match in matches %}
        	{% ifchanged match.date.date %} 
        	<li class="groupedListItem first" id="gid_1_live">
				<h3 id="sid_1_live" class="expanded sport_1">
					<i class="ico ico-holder"></i>
        				{{ match.date.date }} 
        			<span class="ico-holder toggler"></span>
				</h3>
			</li>
        	{% endifchanged %}
	        <li>
	            {% if match.has_started %}
	            {% include "tippspiel/match/matchday_detail_match_started.html" %}
	            {% else %}
	            {% include "tippspiel/match/matchday_detail_match_not_started.html" %}
	            {% endif %}
	        </li>
	    {% endfor %}
	    </ul>
	</li>
</ul>
</div>

{% endblock %}
