{% extends "base.html" %}
{% load i18n staticfiles %}
{% trans "Soccer" as soccer %}

{% block body %}
    <div id="wrapper">
	{% include "tippspiel/horisontal_menu.html" %}

{% load tz %}
<div id="content-wrap">
   <div id="content">
      <div class="view visible" id="eventDetailsView">
         <!-- Event page top info block -->   
         <div id="aboutEvent">
			{% if user.is_authentificated %}
			{% timezone user.profile.timezone  %}
            <div class="eventLeague">  <span class="date">{{match.date.date}}&nbsp;{{match.date|date:'H:i'}}</span> <span class="preInfo prematch">{{soccer}} - {{match.league.league_name}}</span>  </div>
			{% endtimezone %}         
			{% else %}
            <div class="eventLeague">  <span class="date">{{match.date.date}}&nbsp;{{match.date|date:'H:i'}}</span> <span class="preInfo prematch">{{soccer}} - {{match.league.league_name}}</span>  </div>
			{%endif%}			
            <table class="prematchEvent">
               <tbody>
                  <tr>
                     <td class="nameOne type2">
                        <h1>{{match.team_home.name}}</h1>
                     </td>
                  </tr>
                  <tr>
                     <td class="versus">против</td>
                  </tr>
                  <tr>
                     <td class="nameTwo type2">
                        <h1>{{match.team_visitor.name}}</h1>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         {% regroup matchbets by bet.bet_group as groups %}
         <ul id="betList" class="betList">
         	{% for group in groups %}
            <li class="groupedListItem" id="140552461">
               <h3>{{group.grouper.bet_name}}</h3>
               <table class="list cell3">
                  <tbody>
                     <tr>
					{% for bid in group.list %}  
                        <td class="">
                        {%if user.is_authenticated %}
                           <a id="140552461_214365_0" href="{% url 'tippspiel_bet_form' bid.id %}">
                        {% else %}
                           <a id="140552461_214365_0" href="{% url 'signup' %}">                        
                        {% endif %}
                              <div>{{bid.bet.bet_choice}}</div>
                              <div class="oddHolder" id="odds_228604162_0_1">{{bid.score}}</div>
                           </a>
                        </td>
            		{% endfor %}                     
                     </tr>
                  </tbody>
               </table>
            </li>
            {% endfor %}
         </ul>
      </div>
   </div>
</div>

{% endblock %}