{% extends "base.html" %}
{% load i18n staticfiles gravatar %}
{% block body %}

    <div id="wrapper">
    	<!-- Links Live/Top/All -->
		<div class="menu menu-top menu-horizontal" data-slider="true" data-level="2" data-menu-id="bets" style="opacity: 1;">
			<div class="menu-inner position-fixed"> 
				<div class="tab-list tab-list-current" data-count="2">  
					<ul>  
						<li data-id="preMatchEvents" class="tab item-preMatchEvents is-inactive"> 
						<a href="/" class="tabs-nav__itm tabs-nav__itm--next active"> 
							<div class="tab-inner"> 
								<span class="ico-holder"></span> 
								<div class="text">Топ матчи</div> 
							</div> 
							</a>
						</li>  
						<li data-id="sports" class="tab item-sports active"> 
							<div class="tab-inner"> 
								<span class="ico-holder"></span> 
								<div class="text">Лиги</div> 
							</div> 
						</li>  
					</ul>  
				</div> 
			</div>
		</div>

<div class="view visible" id="sportsLeaguesEventsView">
  {% for league in league_list %}
   <h1 class="sportsLeaguesEventsTitle" id="Z_7_header"><i class="ico-holder"></i><span>{{ league.country}} - {{ league.league_name}}</span></h1>
   <ul id="Z_7" class="listHolderTitled">            
     {% for match in league.getActualMatches %}
        	{% ifchanged match.date.date %} 
        	<li class="groupedListItem first" id="gid_1_live">
				<h3 id="sid_1_live" class="expanded sport_1">
					<i class="ico ico-holder"></i>
        				{{ match.date.date }} 
        			<span class="ico-holder toggler"></span>
				</h3>
			</li>
        	{% endifchanged %}
	        <li>
	            {% if not match.has_started %}
	            {% include "tippspiel/match/matchday_detail_match_not_started.html" %}
	            {% endif %}
	        </li>            
            {% endfor %}
        {% endfor %}
   </ul>
</div>
{% endblock %}