{% extends "tippspiel/base.html" %}
{% load i18n staticfiles gravatar %}
{% block body %}

    <div id="wrapper">
    	<!-- Linls Live/Top/All -->
		<div class="menu menu-top menu-horizontal" data-slider="true" data-level="2" data-menu-id="bets" style="opacity: 1;">
			<div class="menu-inner position-fixed"> 
				<div class="tab-list tab-list-current" data-count="2">  
					<ul>  
						<li data-id="preMatchEvents" class="tab item-preMatchEvents is-inactive"> 
						<a href="/" class="tabs-nav__itm tabs-nav__itm--next active"> 
							<div class="tab-inner"> 
								<span class="ico-holder"></span> 
								<div class="text">Топ матчи</div> 
							</div> 
							</a>
						</li>  
						<li data-id="sports" class="tab item-sports active"> 
							<div class="tab-inner"> 
								<span class="ico-holder"></span> 
								<div class="text">Лиги</div> 
							</div> 
						</li>  
					</ul>  
				</div> 
			</div>
		</div>


<div class="view visible" id="sportsLeaguesEventsView">
   <h1 class="sportsLeaguesEventsTitle" id="Z_7_header"><i class="ico-holder"></i><span>Россия - РФПЛ</span></h1>
   <ul id="Z_7" class="listHolderTitled">
      <li class="groupedListItem first" id="gid_Z_7_1103_prematch">
         <h3 id="sid_Z_7_1103_prematch" class=" sport_1"><i class="ico ico-holder"></i>11/03<span class="ico-holder toggler"></span></h3>
         <ul class="list">
            <li class="groupedListSubItem first" id="AA228613085">
               <div class="sportItemContainer">
                  <div class="sport-title ">
                     <div>     </div>
                     <div class="sportTextHolder">
                        <div class="timeKickOff">19:00</div>
                        <div class="eventPlusDesc">
                           <h1>Спартак (Москва) - СКА-Хабаровск</h1>
                           <p class="event-desc event-desc-no-padding">Футбол - Россия - РФПЛ</p>
                        </div>
                     </div>
                  </div>
                  <ul class="oddsholder ">
                     <li class="oddHolder outcome-1 "> <a href="#" id="AA228613085_5517"><span class="oddpos">1</span><span class="oddnum">1.13</span><span class="oddlock"></span></a> </li>
                     <li class="oddHolder outcome-x "> <a href="#" id="AA228613085_58805"><span class="oddpos">x</span><span class="oddnum">9.55</span><span class="oddlock"></span></a> </li>
                     <li class="oddHolder outcome-2 "> <a href="#" id="AA228613085_11414129"><span class="oddpos">2</span><span class="oddnum">26.65</span><span class="oddlock"></span></a> </li>
                  </ul>
               </div>
               <hr>
               <hr>
            </li>
         </ul>
      </li>
      <li class="groupedListItem" id="gid_Z_7_1203_prematch">
         <h3 id="sid_Z_7_1203_prematch" class=" sport_1"><i class="ico ico-holder"></i>12/03<span class="ico-holder toggler"></span></h3>
         <ul class="list">
            <li class="groupedListSubItem first last" id="AA228616819">
               <div class="sportItemContainer">
                  <div class="sport-title ">
                     <div>     </div>
                     <div class="sportTextHolder">
                        <div class="timeKickOff">17:00</div>
                        <div class="eventPlusDesc">
                           <h1>Урал - Локомотив</h1>
                           <p class="event-desc event-desc-no-padding">Футбол - Россия - РФПЛ</p>
                        </div>
                     </div>
                  </div>
                  <ul class="oddsholder ">
                     <li class="oddHolder outcome-1 "> <a href="#" id="AA228616819_2460920"><span class="oddpos">1</span><span class="oddnum">3.85</span><span class="oddlock"></span></a> </li>
                     <li class="oddHolder outcome-x "> <a href="#" id="AA228616819_58805"><span class="oddpos">x</span><span class="oddnum">2.94</span><span class="oddlock"></span></a> </li>
                     <li class="oddHolder outcome-2 "> <a href="#" id="AA228616819_214365"><span class="oddpos">2</span><span class="oddnum">2.11</span><span class="oddlock"></span></a> </li>
                  </ul>
               </div>
               <hr>
               <hr>
            </li>
         </ul>
      </li>
      <li class="groupedListItem" id="gid_Z_7_1703_prematch">
         <h3 id="sid_Z_7_1703_prematch" class=" sport_1"><i class="ico ico-holder"></i>17/03<span class="ico-holder toggler"></span></h3>
         <ul class="list">
            <li class="groupedListSubItem first" id="AA228622678">
               <div class="sportItemContainer">
                  <div class="sport-title ">
                     <div>     </div>
                     <div class="sportTextHolder">
                        <div class="timeKickOff">11:00</div>
                        <div class="eventPlusDesc">
                           <h1>СКА-Хабаровск - Урал</h1>
                           <p class="event-desc event-desc-no-padding">Футбол - Россия - РФПЛ</p>
                        </div>
                     </div>
                  </div>
                  <ul class="oddsholder ">
                     <li class="oddHolder outcome-1 "> <a href="#" id="AA228622678_11414129"><span class="oddpos">1</span><span class="oddnum">3.18</span><span class="oddlock"></span></a> </li>
                     <li class="oddHolder outcome-x "> <a href="#" id="AA228622678_58805"><span class="oddpos">x</span><span class="oddnum">2.90</span><span class="oddlock"></span></a> </li>
                     <li class="oddHolder outcome-2 "> <a href="#" id="AA228622678_2460920"><span class="oddpos">2</span><span class="oddnum">2.13</span><span class="oddlock"></span></a> </li>
                  </ul>
               </div>
               <hr>
               <hr>
            </li>
            <li class="groupedListSubItem" id="AA228622679">
               <div class="sportItemContainer">
                  <div class="sport-title ">
                     <div>     </div>
                     <div class="sportTextHolder">
                        <div class="timeKickOff">14:00</div>
                        <div class="eventPlusDesc">
                           <h1>Арсенал Тула - Ростов</h1>
                           <p class="event-desc event-desc-no-padding">Футбол - Россия - РФПЛ</p>
                        </div>
                     </div>
                  </div>
                  <ul class="oddsholder ">
                     <li class="oddHolder outcome-1 "> <a href="#" id="AA228622679_7402112"><span class="oddpos">1</span><span class="oddnum">2.33</span><span class="oddlock"></span></a> </li>
                     <li class="oddHolder outcome-x "> <a href="#" id="AA228622679_58805"><span class="oddpos">x</span><span class="oddnum">2.84</span><span class="oddlock"></span></a> </li>
                     <li class="oddHolder outcome-2 "> <a href="#" id="AA228622679_503146"><span class="oddpos">2</span><span class="oddnum">2.99</span><span class="oddlock"></span></a> </li>
                  </ul>
               </div>
               <hr>
               <hr>
            </li>
            <li class="groupedListSubItem" id="AA228622681">
               <div class="sportItemContainer">
                  <div class="sport-title ">
                     <div>     </div>
                     <div class="sportTextHolder">
                        <div class="timeKickOff">16:30</div>
                        <div class="eventPlusDesc">
                           <h1>Краснодар - Уфа</h1>
                           <p class="event-desc event-desc-no-padding">Футбол - Россия - РФПЛ</p>
                        </div>
                     </div>
                  </div>
                  <ul class="oddsholder ">
                     <li class="oddHolder outcome-1 "> <a href="#" id="AA228622681_4020902"><span class="oddpos">1</span><span class="oddnum">1.53</span><span class="oddlock"></span></a> </li>
                     <li class="oddHolder outcome-x "> <a href="#" id="AA228622681_58805"><span class="oddpos">x</span><span class="oddnum">3.32</span><span class="oddlock"></span></a> </li>
                     <li class="oddHolder outcome-2 "> <a href="#" id="AA228622681_6505028"><span class="oddpos">2</span><span class="oddnum">5.94</span><span class="oddlock"></span></a> </li>
                  </ul>
               </div>
               <hr>
               <hr>
            </li>
            <li class="groupedListSubItem" id="AA228622682">
               <div class="sportItemContainer">
                  <div class="sport-title ">
                     <div>     </div>
                     <div class="sportTextHolder">
                        <div class="timeKickOff">19:00</div>
                        <div class="eventPlusDesc">
                           <h1>Анжи - Тосно</h1>
                           <p class="event-desc event-desc-no-padding">Футбол - Россия - РФПЛ</p>
                        </div>
                     </div>
                  </div>
                  <ul class="oddsholder ">
                     <li class="oddHolder outcome-1 "> <a href="#" id="AA228622682_50353"><span class="oddpos">1</span><span class="oddnum">2.13</span><span class="oddlock"></span></a> </li>
                     <li class="oddHolder outcome-x "> <a href="#" id="AA228622682_58805"><span class="oddpos">x</span><span class="oddnum">2.90</span><span class="oddlock"></span></a> </li>
                     <li class="oddHolder outcome-2 "> <a href="#" id="AA228622682_7870887"><span class="oddpos">2</span><span class="oddnum">3.28</span><span class="oddlock"></span></a> </li>
                  </ul>
               </div>
               <hr>
               <hr>
            </li>
            <li class="groupedListSubItem last" id="AA228622684">
               <div class="sportItemContainer">
                  <div class="sport-title ">
                     <div>     </div>
                     <div class="sportTextHolder">
                        <div class="timeKickOff">19:00</div>
                        <div class="eventPlusDesc">
                           <h1>Рубин - Спартак (Москва)</h1>
                           <p class="event-desc event-desc-no-padding">Футбол - Россия - РФПЛ</p>
                        </div>
                     </div>
                  </div>
                  <ul class="oddsholder ">
                     <li class="oddHolder outcome-1 "> <a href="#" id="AA228622684_503142"><span class="oddpos">1</span><span class="oddnum">3.09</span><span class="oddlock"></span></a> </li>
                     <li class="oddHolder outcome-x "> <a href="#" id="AA228622684_58805"><span class="oddpos">x</span><span class="oddnum">3.09</span><span class="oddlock"></span></a> </li>
                     <li class="oddHolder outcome-2 "> <a href="#" id="AA228622684_5517"><span class="oddpos">2</span><span class="oddnum">2.13</span><span class="oddlock"></span></a> </li>
                  </ul>
               </div>
               <hr>
               <hr>
            </li>
         </ul>
      </li>
   </ul>
</div>

<section data-role="content">

    <div class="tippspiel_overview_header">
        <h1>{% trans "Welcome back" %}, {{ user.username }}!</h1>
        <div class="badges">
            <p class="rank">{{ player.rank }}. {% trans "place" %}</p>
            <p class="score">{{ player.score }} {% trans "points" %}</p>
        </div>
    </div>

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">{% trans "Upcoming Matchdays" %}</li>
        {% for league in league_list %}
        <li>
            <a href="/league/{{league.id }}">{{ league.league_name}}</a>
        </li>
        {% endfor %}
    </ul>

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Top {{ top_players|length }} {% trans "Players" %}</li>
        {% for tp in top_players %}
        <li{% ifequal tp.pk user.pk %} data-theme="e"{% endifequal %}><a href="{% url 'tippspiel_player_detail' player_name=tp.user.username %}">
            {% gravatar_img tp %}
            <h3>{{ tp.rank }}. {{ tp.user.username }}</h3>
            <span class="ui-li-count">{{ tp.score }} {% trans "points" %}</span>
        </a></li>
        {% endfor %}
    </ul>
    
</section>
{% endblock %}