{% extends "base.html" %}
{% load i18n staticfiles %}
{% block body %}

{% if form.errors %}
<div id="modals">
   <div>
      <div class="modal modal--type__error modal--origin__app modal--new" data-id="error:46741">
         <div class="ico-holder modal__icon"></div>
         <div class="modal__content"> {{ form.non_field_errors }} </div>
         
         <div class="modal__buttons" onclick="return location.href = '{% url 'tippspiel_match_list' %}'"> <span data-href="" data-index="0" class="modal__button modal__button--close">Закрыть</span> </div>
      </div>
   </div>
</div>
{% endif %}

<div id="wrapper">

{% include "tippspiel/horisontal_menu.html" %}

<div class="view visible" id="sportsLeaguesEventsView">
  {% for league in league_list %}
   <h1 class="sportsLeaguesEventsTitle" id="Z_7_header"><i class="ico-holder"></i><span>{{ league.country}} - {{ league.league_name}}</span></h1>
   <ul id="Z_7" class="listHolderTitled">            
     {% for match in league.getActualMatches %}
        	{% ifchanged match.date.date %} 
        	<li class="groupedListItem first" id="gid_1_live">
				<h3 id="sid_1_live" class="expanded sport_1">
					<i class="ico ico-holder"></i>
        				{{ match.date.date }} 
        			<span class="ico-holder toggler"></span>
				</h3>
			</li>
        	{% endifchanged %}
	        <li>
	            {% if not match.has_started %}
	            {% include "tippspiel/match/matchday_detail_match_not_started.html" %}
	            {% endif %}
	        </li>            
            {% endfor %}
        {% endfor %}
   </ul>
</div>
{% endblock %}
