{% extends "base.html" %}
{% load i18n staticfiles %}
{% block body %}
<div id="wrapper">
   <div class="downtime-alert" id="downtimeAlert" style="display: none;"></div>
   <div class="menu menu-top menu-horizontal hidden" data-slider="true" data-level="2" data-menu-id="search" style="opacity: 1;"></div>
   <div class="menu menu-top menu-horizontal hidden" data-level="3" data-sticky="false"></div>
   <div id="content-wrap">
      <div class="campaign campaign--tablet" data-loc="top">
         <div></div>
      </div>
      <div class="slider"></div>
      <div id="content">
         <div class="view visible" id="searchView">
         	<div id="sportlineSearch" class="ico-holder"> 
               <form method='POST' action="{% url 'search' %}">
               		<input id="searchInput" name="quote" class="autocomplete mglass" type="text" placeholder="Поиск" autocomplete="off" aria-autocomplete="list" maxlength="256">
					{% csrf_token %}
               </form> 
               <div id="btn-clear" class="td btn ico-holder" style=""></div>
               {% if matches == None %}
               <div id="searchHelp">
            {% blocktrans %}               
					<p> Enter the name of the event, league or sport in the search field, for example: </ p>
                   <h4> Champions League </ h4>
                   <h4> Chelsea </ h4>
            {% endblocktrans %}               
               </div>
               {% else %}
               <ul id="searchResults" style="">
               {% for match in matches %}
                  <li class="preMatch" onclick="return location.href = '{% url 'tippspiel_match_detail' match.id %}'">
                     <div class="scoreHolder">
                        <div class="date">{{match.date|date:'d/M'}}</div>
                        <div class="time">{{match.date|date:'H:i'}}</div>
                     </div>
                     <div class="title">{{match.team_home.name}} - {{match.team_visitor.name}}</div>
                     <div class="league">{{ match.league.country }} - {{ match.league.league_name }}</div>
                  </li>
                  {% endfor %}
               </ul>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}